.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background-color: rgb(181, 174, 174);
}
  
.app-title {
    font-weight: bold;
}

.spacer {
    flex: 1 1 auto;
}