<mat-sidenav-container class="sidenav-container">
    @if(!isLoginPage()) {
        <mat-sidenav mode="side" opened class="sidenav">
            <nav>
              <button mat-button routerLink="/home" routerLinkActive="active">
                  <mat-icon>home</mat-icon>
                  Home
              </button>
              <button mat-button routerLink="/hangouts" routerLinkActive="active">
                <mat-icon>groups</mat-icon>
                Hangouts
              </button>
            </nav>
          </mat-sidenav>
    }
  
    <mat-sidenav-content>
      <div class="main-content">
        <router-outlet />
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  